<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
    <title>About Us - My Portfolio</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    
    <!-- <div class="about">
        <h2>About Us</h2>
        <p>Welcome to Sumeya and Ayda page.</p>
    </div> -->
    <section id="about" class="about-section">
      <div class="container">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, nesciunt maxime dolores reiciendis fuga repudiandae, consequuntur soluta quibusdam vero quaerat, est excepturi distinctio doloribus. Officia dolore quisquam blanditiis! Impedit, ipsam.</p>
        
      <div class="project">
        <img src="/images/cat.jpg" alt="A brown Cat" class="project-image">
        <h2>Projects</h2>
        <h3>Project 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto!</p>
      </div>
        <h3>Education</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat itaque, tempore quas neque mollitia dolores?</p>
       
      </div>
      
    </section>
   

    <include("partials/footer.ejs") %>
    
</body>
</html>